.head{
    display: flex;
    background-color: rgb(39,37,37);
    border-bottom: 10px solid orange;
    justify-content: space-around;
}
.mmsu{
    font-size: 30px;
    color: white;
    padding: 15px;
    margin-left: 30px;
    flex-grow: 2;

}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 0 20px;

}
.nav{
    padding-top: 20px;
}
.img-content{
    background-image: url(../bgg/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.img-txt{
    padding: 50px;
    text-align: center;
}
h2{
    text-align: center;
}
.arti {
    display: flex;
    justify-content: space-around;
    margin: 5px 50px;
    padding: 0 20px;
    text-align: left;
    font-size: 15px;
}
.item1{
    margin: 0 10px;
    width: 40%;
}
.item2{
    width: 79%;
    margin: 0 10px;
}
ol{
    height: 100%;
}
.item3{
    background-color: black;
    color: white;
    padding-right: 50px;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 40px;
    width: 30%;
}
footer{
    text-align: center;
    background-color: yellow;
    padding: 5px;
}